/* Vy Color CSS */

body{
border-top:3px solid #205c90;
}

.color{
color:#205c90;
}

a, a:visited{
color:#205c90;
}

a:hover{
color:#2777bc;
}

.navbar{
background: #205c90 !important;
border-top:1px solid #2777bc !important;
border-bottom:1px solid #2777bc !important; 
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #2777bc;
}

.navbar button{
	background:#2777bc !important;  
}

.navbar button:hover{
	background:#2777bc !important;
}

.navbar .nav{
border-right:1px solid #2777bc;
}

.navbar .nav > li > a{
background: #205c90; 
border-left:1px solid #2777bc;
}

.navbar .nav > li > a:hover{
background:#2777bc !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #2777bc !important;
}

.dropdown-toggle{
background: #205c90 !important;
}


.dropdown-menu{
background:#205c90 !important;
border:1px solid #2777bc;
}

.dropdown-menu a{
background:#205c90 !important;
border-bottom:1px solid #2777bc;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
background:#2777bc !important;
}

.social i{
background:#205c90;
}

.social i:hover{
background:#2777bc;
}

.flex-caption{
border-left:4px solid #205c90;
}

.service i{
color:#205c90;
}

/* Timeline */

.time .tidate{
background:#205c90;
}

.time .timatter{
border-bottom:2px solid #205c90;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#205c90;
}

/* Slider */

.da-slider{
border-top: 4px solid #205c90;
border-bottom: 4px solid #205c90;
}

.da-slide h2{
color:#205c90;
}

.da-slide .da-link{
background:#205c90;
}

/* Testimonial */

.test{
border-bottom:2px solid #205c90;
}

.test-arrow{
border-top-color: #205c90;
}

/* Feature alt */

.afeature:hover{
border:5px solid #205c90;
}

.afmatter i{
color:#205c90;
}

.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #205c90;
}

.accordion-heading i{
color:#205c90;
}

.process i{
color:#205c90;
}

.process-meta span{
background:#205c90;
}

.feat h4 i{
color:#205c90;
}

.content ul li{
background-image:url('../img/list-b.png');
}

.blog .meta i{
color:#205c90;
}

.posts .tags a{
background:#205c90;
border:1px solid #2777bc;
border-bottom:3px solid #2777bc;
}

.posts .tags a:hover{
border-bottom:3px solid #205c90;
background:#2777bc;
border:1px solid #2777bc;
}

.paging a:hover{
background: #205c90;
border:1px solid #2777bc;
}

.paging .current{
background: #205c90;
border:1px solid #2777bc;
}

.serv .simg i{
color:#205c90;
}

.button a, .button a:visited{
background:#205c90;
border-bottom:2px solid #2777bc;
}

.button a:hover{
background:#2777bc;
}

.pricel .phead-top{
background:#205c90;
border:1px solid #2777bc;
}

.pricel .phead-bottom{
border-top:1px solid #2777bc;
}

.nav-tabs > li > a:hover{
background:#205c90;
}

.about .asocial i{
background:#205c90;
}

.resume h4{
background:#205c90;
}

.resume h5{
color:#205c90;
}

footer{
   border-top:3px solid #2777bc;
   background-color: #205c90;
}

footer ul li{
background-image:url('../img/list-b.png');
}

.colophon {
   #000;
}
.colophon a {
   color: #bbb;
}

/* Plone UI *******************/
#portal-personaltools dd {
    background-color: #205C90;
}
#portal-personaltools dd a,
#portal-personaltools dt a{
    color: #000;
}



