/* Green Color CSS */

body{
   border-top: 3px solid #2aa24e;
}

.color{
   color: #2aa24e;
}

a, a:visited{
   color: #2aa24e;
}

a:hover{
   color: #34bc5d;
}

.navbar{
   background: #2aa24e !important;
   border-top: 1px solid #34bc5d !important;
   border-bottom: 1px solid #34bc5d !important; 
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #268943;
}

.navbar button{
	background:#34bc5d !important;  
}

.navbar button:hover{
	background:#34bc5d !important;
}

.navbar .nav{
   border-right:1px solid #268943;
}

.navbar .nav > li > a{
   background: #2aa24e; 
   border-left:1px solid #268943;
}

.navbar .nav > li > a:hover{
   background:#34bc5d !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
   background: #34bc5d !important;
}

.dropdown-toggle{
   background: #2aa24e !important;
}

.dropdown-menu{
   background:#2aa24e !important;
   border:1px solid #34bc5d;
}

.dropdown-menu a{
   background:#2aa24e !important;
   border-bottom:1px solid #34bc5d;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
   background:#34bc5d !important;
}

.social i{
   background:#2aa24e;
}

.social i:hover{
   background:#34bc5d;
}

.flex-caption{
   border-left:4px solid #2aa24e;
}

.service i{
   color:#2aa24e;
}

/* Timeline */

.time .tidate{
   background:#2aa24e;
}

.time .timatter{
   border-bottom:2px solid #2aa24e;
}

/* Events - Accordion*/

.events .accordion-heading h5{
   background:#2aa24e;
}

/* Slider */

.da-slider{
   border-top: 4px solid #2aa24e;
   border-bottom: 4px solid #2aa24e;
}

.da-slide h2{
   color:#2aa24e;
}

.da-slide .da-link{
   background:#2aa24e;
}

/* Testimonial */

.test{
   border-bottom:2px solid #2aa24e;
}

.test-arrow{
   border-top-color: #2aa24e;
}

/* Feature alt */

.afeature:hover{
   border:5px solid #2aa24e;
}

.afmatter i{
   color:#2aa24e;
}

.rpost1:hover,.rpost2:hover{
   border-bottom:2px solid #2aa24e;
}

.accordion-heading i{
   color:#2aa24e;
}

.process i{
   color:#2aa24e;
}

.process-meta span{
   background:#2aa24e;
}

.feat h4 i{
   color:#2aa24e;
}

.content ul li{
   background-image:url('../img/list-b.png');
}

.blog .meta i{
   color:#2aa24e;
}

.posts .tags a{
   background:#2aa24e;
   border:1px solid #34bc5d;
   border-bottom:3px solid #34bc5d;
}

.posts .tags a:hover{
   border-bottom:3px solid #2aa24e;
   background:#34bc5d;
   border:1px solid #34bc5d;
}

.paging a:hover{
   background: #2aa24e;
   border:1px solid #34bc5d;
}

.paging .current{
   background: #2aa24e;
   border:1px solid #34bc5d;
}

.serv .simg i{
   color:#2aa24e;
}

.button a, .button a:visited{
   background:#2aa24e;
   border-bottom:2px solid #34bc5d;
}

.button a:hover{
   background:#34bc5d;
}

.pricel .phead-top{
   background:#2aa24e;
   border:1px solid #34bc5d;
}

.pricel .phead-bottom{
   border-top:1px solid #34bc5d;
}

.nav-tabs > li > a:hover{
   background:#2aa24e;
}

.about .asocial i{
   background:#2aa24e;
}

.resume h4{
   background:#2aa24e;
}

.resume h5{
   color:#2aa24e;
}

footer{
   border-top:3px solid #2aa24e;
}

footer ul li{
   background-image:url('../img/list-b.png');
}
.blog .entry h2 a,
.blog .entry h2 a:visited,
.blog .entry h2 a:hover {
    color: #2aa24e;
}


/* plone ui */
#content-views, #edit-bar,    #contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd  {
    background-color: #2aa24e;
}
#contentActionMenus {
    background: none repeat scroll 0 0 #2aa24e;
}
#portal-personaltools {
    margin-top: 0;
}
#portal-personaltools dt a {
    color: #fff;
    border-left: 1px solid #268943;
    border-right: 1px solid #268943;
    display: block;
    font-size: 13px !important;
    padding: 14px 15px;
    text-shadow: none !important;
    transition: background 1s ease 0s;
}
#portal-personaltools dd {
    background-color: #2aa24e;
    margin-left: -4em;
    top: 3.7em;
    border-radius: 0;
}
#portal-personaltools dd a {
    color: #fff;

}
#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #2aa24e;