/* Theme-specific styling
 */
header {
    padding: 0;
}
div.logo {
    padding: 10px;
}
h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
h3 {
  text-transform: capitalize;
}
h4 {
  font-size: 22px;
}
.margin-top {
    margin-top: 40px;
}
.actionMenuContent li a img {
    margin-right: 5px;
}
#searchbox {
    display: none;
}
#searchbox .form-control {
    margin-top: 8px;
    width: 200px;
}
.navbar-default .glyphicon {
    color: #777777;
}
#search {
    margin-right: 5px;
}
#search:hover {
    cursor: pointer;
}
#edit-bar{
    margin-bottom: 2em;
}

.blog .bthumb2{
    float: none;
}
.blog .entry {
    border-bottom: 0px solid white;
}
.flexslider {
    margin: 0 0 20px;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.flex-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 45%;
}
.flex-caption a {
    color: #ffffff;
}

.service i {
    font-size: 14px;
}
.service p {
    font-size: 14px;
    line-height: 20px;
}
.service img {
    margin-bottom: 10px;
}

div.thumbnail {
    margin-right: 1rem;
}
.label {
    color: #000000;
}

iframe .view-cap, .view-container-border {
    background-color: red!important;
}
.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 1em;
    margin: 0;
}
#breadcrumbs-you-are-here {
    padding-right: 5px;
}
/* copy main-box to portlet */
.portlet {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #EEEEEE;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px;
    padding: 8px 10px;
}
.portletNews .portletItem {
    border-bottom: solid 0px #eeeeee;
    margin-top: 15px;
}
.portletNews .portletItemDetails {
    display: block;
    font-size: 85%;
}
.portlet h4 {
  border-bottom: solid 1px #eee;
}
.portlet h4 a {
    color: #666;
}
#partners {
    margin: 20px 0;
}
#funding {
    margin-top: 20px;
}
#partners h3,
#funding {
    margin-bottom: 20px;
}
#funding img {
    margin-right: 10px;
}
.colophon {
    padding : 15px;
    color: #000;
}
.colophon a {
    color: #000;
}
a.managePortletsFallback {
    float: right;
}

footer {
    background-image: none;
    color: black;
}

.image-left {
    float: left!important;
    padding: 5px 5px 5px 0;
}
.image-right {
    float: right!important;
    padding: 5px 0 5px 5px;
}


.header-full-title {
    background-image: url("../img/colors/blue/logo_big.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
}
.top-nav {
    float: right;
    position: relative;
}
.top-nav .dropdown {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    z-index: 60000000;
}
.top-nav .dropdown a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f1f1f1;
    border-color: -moz-use-text-color #e3e6e8 #e3e6e8;
    border-image: none;
    border-right: 1px solid #e3e6e8;
    border-style: none;
    border-width: 0;
    box-shadow: 0 0 1px #ffffff inset;
    color: #000;
    display: inline-block;
    margin: 0;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 0.9em;
}
.top-nav .dropdown > a:after {
    content: none;
}
.top-nav .dropdown a i {
    color: #444;
    font-size: 1em;
}
.dropdown-search-box {
  left: -248px;
}
.dropdown-search-box, .dropdown-login-box {
    box-shadow: none;
    overflow: hidden;
    padding: 10px;
}
.dropdown-search-box .form-group, .dropdown-login-box {
    margin: 0;
}
.dropdown-login-box h4 {
    margin: 5px 0 10px;
}
.dropdown-login-box .btn {
    margin-top: 10px;
}
.dropdown-login-box ul {
  list-style: none;
  padding-left: 0;
}
#tools .dropdown-menu {
  background-color: #f1f1f1!important;
  border-color: #e3e6e8;
}
#tools .dropdown-menu a {
  background-color: #f1f1f1!important;
  border: 0 none;
  color: #444 !important;
  padding: 3px!important;
  font-size: 0.85em!important;
  box-shadow: 0 0 0;
  display: block;
}
#tools .dropdown-menu a:hover {
  background-color: #fff!important;
}
/* social top */
.top-nav-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  background-color: #f1f1f1;
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
  border: solid 1px #e3e6e8;
  border-top: 0;
  overflow: hidden;
}
.top-nav-social.hidden-sm {
    display: inline-block!important;
}
.top-nav-social li {
  float: left;
  margin: 0;
}
.top-nav-social a {
  font-size: 1em;
  margin: 0;
  color: #444;
  display: inline-block;
  padding: 4px 6px;
  min-width: 30px;
  text-align: center;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.top-nav-social a.twitter:hover {
  background-color: #00aced;
  color: #fff;
}
.top-nav-social a.facebook:hover {
  background-color: #3b5998;
  color: #fff;
}
.top-nav-social a.instagram:hover {
  background-color: #517fa4;
  color: #fff;
}
.top-nav-social a.rss:hover {
  background-color: #ef922f;
  color: #fff;
}
.top-nav-social a.linkedin:hover {
  background-color: #007bb6;
  color: #fff;
}
.top-nav-social a.git:hover {
  background-color: #666666;
  color: #fff;
}
.top-nav-social a.googleplus:hover {
  background-color: #dd4b39;
  color: #fff;
}
.top-nav-social a.youtube:hover {
  background-color: #bb0000;
  color: #fff;
}
.top-nav-social a.pinterest:hover {
  background-color: #cb2027;
  color: #fff;
}
.top-nav-social a.wordpress:hover {
  background-color: #4597be;
  color: #fff;
}
.top-nav-social a.flickr:hover {
  background-color: #ff0084;
  color: #fff;
}
.top-nav-social a.vine:hover {
  background-color: #00b48a;
  color: #fff;
}
.top-nav-social a.dribbble:hover {
  background-color: #f26798;
  color: #fff;
}
.top-nav-social a.foursquare:hover {
  background-color: #0072b1;
  color: #fff;
}
.top-nav-social a.tumblr:hover {
  background-color: #32506d;
  color: #fff;
}
.fa-user {
    padding-right: 2px;
}

.strong {
  font-weight: 400;
}

#rightcolumn section,
#leftcolumn section {
  margin-bottom: 1em;
}

.template-newsitem_view #rightcolumn {
  padding-top: 40px;
}

.readmore {
    margin-top: 1em;
}
.readmore a {
    color: #76af45;
    font-style: italic;
}
.imageborder {
  border: 1px solid #ddd;
  padding: 5px;
}
.date {
    color: #999999;
}

/* editing */
.formHelp {
  font-size: 0.8em;
  font-style: italic;
  color: #ad3a36;
}


/* language selector */
#portal-languageselector {
  display: inline-block;
}
#portal-languageselector li {
  float: left;
  list-style-type: none;
  margin-left: 5px;
}
#portal-languageselector a {
  opacity: 0.4;

}
#portal-languageselector li.currentLanguage a,
#portal-languageselector li a:hover {
  opacity: 1;
}

/* from artificial reason */
.slogan {
    font-family: "Lato",sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 50px;
}
.right-line:after {
    background-color: #ddd;
    border-left: 20px solid #fff;
    content: " ";
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 55%;
    width: 100%;
}
*:before, *:after {
    box-sizing: border-box;
}
.no-margin-top {
    margin-top: 0 !important;
}
.right-line {
    color: #000;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
h1 {
    font-size: 2.3em;
}
h1, h2, h3, h4, h5, h6 {
    color: #0099da;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    line-height: 120%;
    margin: 20px 0 17px;
}
.panel-primary {
    border-color: #0099da;
}
.panel, .panel .panel-footer {
    border-radius: 0;
}
.panel-primary .panel-heading, .panel-primary .panel-footer {
    background-color: #0099da;
    color: #fff;
}
.panel-heading {
    border-radius: 0;
    font-family: "Lato","Open Sans",sans-serif;
}

.lead {
    font-size: 16px;
}
.tweetText {
    padding-bottom: 0.5em;
}